form {
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
}

form .header {
    text-align: center;
    margin: 7px auto;
}

form .form-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form .form-item {
    /*display: ;*/
    margin: 3px auto;
}

form > div{
    height: 55px;
}
