.main-interface{
    height: 540px;
    display: flex;
    justify-content: center;
}

.jumbotron > .map-item{
    width: 30px;
    height: 38px;
}

.jumbotron {
    max-width: 454px;
    margin: 0 auto;
}


button > span {
    margin-left: -8px;
}

.player{
    background: url(./../images/knight.png) no-repeat center 100%/100%;
}

.door{
    background: url(./../images/door.png) no-repeat center 100%/100%;
}

.dragon{
    background: url(./../images/dragon-boss.png) no-repeat center 100%/100%;

}