form {
    border: 1px solid black;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
}

form button {
    height: 25px;
    width: 100%;
    margin: 7px auto;
}

form .header {
    text-align: center;
    margin: 7px auto;
}

form .form-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form .form-item {
    /*display: ;*/
    margin: 3px auto;
}

#map > .map-item{
    width: 30px;
    height: 38px;
}

.jumbotron > .map-item{
    width: 30px;
    height: 38px;
}

.jumbotron {
    max-width: 454px;
    margin: 0 auto;
}

#map
{
    max-width: 454px;
    margin: 0 auto;
    background-color: #3366CC;
    padding: 32px;
}
.btn {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}


#map > .btn.disabled, .btn:disabled{
    opacity: 1;
}

button > span {
    margin-left: -8px;
}